<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <!-- 视口，屏幕的宽度1：1，不允许缩放 -->
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    
    <!--  浏览器不缓存，每次都去服务器拉取 -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	
	<!-- 不自动识别手机号码 -->
    <meta name="format-detection" content="telephone=no" >
    
    <title>我的工作台</title>

    <style type="text/css">
        header {
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
        .avatar-area {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10%;
            box-sizing: border-box;
        }
        .avatar-area i {
            height: 100px;
            width: 100px;
            background: #10aeff;
            border-radius: 50%;
            box-shadow: 2px 2px 4px #fff4f4;
        }
    </style>
</head>
<body>
    <header class="weui-row"></header>
    <article></article>
    <footer></footer>
</body>
<script id="indexHeaderTpl" type="text/html">
    <div class="weui-col-20"><</div>
    <div class="weui-col-60">60</div>
    <div class="weui-col-20">菜单</div>
</script>
<script id="indexArticleTpl" type="text/html">
    <div class="avatar-area">
        <i></i>
    </div>
    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_hd">
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title">欢迎： 何宗华</h4>
                <p class="weui_media_desc">感谢认真工作的你~</p>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta">11月4日</li>
                    <li class="weui_media_info_meta">22点33分</li>
                    <li class="weui_media_info_meta weui_media_info_meta_extra">星期三</li>
                </ul>
            </div>
        </div>
        <div class="weui_panel_bd">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">标题一</h4>
                    <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                </div>
            </a>
        </div>
        <a class="weui_panel_ft" href="javascript:void(0);">查看更多</a>
    </div>

    <div class="weui_grids">
        <a href="javascript:;" class="weui_grid js_grid" data-id="button">
            <div class="weui_grid_icon">
                <img src="/plugin/jqweui/demos/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_grid_label">
                写日志
            </p>
        </a>
        <a href="javascript:;" class="weui_grid js_grid" data-id="cell">
            <div class="weui_grid_icon">
                <img src="/plugin/jqweui/demos/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_grid_label">
                历史回顾
            </p>
        </a>
        <a href="javascript:;" class="weui_grid js_grid" data-id="toast">
            <div class="weui_grid_icon">
                <img src="/plugin/jqweui/demos/images/icon_nav_toast.png" alt="">
            </div>
            <p class="weui_grid_label">
                Toast
            </p>
        </a>
    </div>
</script>

<script id="indexFooterTpl" type="text/html">
    <div class="weui_tabbar">
        <a href="javascript:;" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="/plugin/jqweui/demos/images/icon_nav_article.png" alt="">
            </div>
            <p class="weui_tabbar_label">工作台</p>
        </a>
        <a href="javascript:;" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <img src="/plugin/jqweui/demos/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_tabbar_label">我</p>
        </a>
    </div>
</script>

<script type="text/javascript" src="/plugin/requirejs/require.min.js"></script>
<script type="text/javascript">
var script = document.createElement("script"),
head = document.head || document.getElementsByTagName('head')[0];

script.type = "text/javascript";
script.src = '/config.js?ver=' + (new Date()).getTime();

head.appendChild(script); 

script.onload = script.onreadystatechange = function(){
	require([
        'jquery',
        'common',
        'jqueryWeUI'
        ],
    function($){
        var $header = $('header'),
            $article = $('article'),
            $footer = $('footer');

        var indexMain = {
                init: function(){
                    var self = indexMain;
                        require(['artTemplate'],function(template){
                            $header.html(template('indexHeaderTpl', self.data));    
                            $article.html(template('indexArticleTpl', self.data));    
                            $footer.html(template('indexFooterTpl', self.data));    
                            indexFooterTpl
                            self.watch();
                        })
                },

                options: {
                    
                },

                data: {
                	gobackShow: false,
                    menuShow: '',
                    title: '365个人综合意外保险'
                },

                watch: function(){
                    var self = indexMain;
                }
            }
        indexMain.init();
	})
}
</script>
</html>